<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-0C7AONI\SQLEXPRESS;Initial Catalog=eCommerceShop;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EcommerceShopContext" connectionString="Data Source=DESKTOP-0C7AONI\SQLEXPRESS;Initial Catalog=eCommerceShop;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ServiceBrokerConnection" value="Data Source=DESKTOP-0C7AONI\SQLEXPRESS;Initial Catalog=eCommerceShop;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="ServiceBrokerMessageType" value="PurchaseOrderMessage" />
    <add key="ServiceBrokerContract" value="PurchaseOrderContract" />
    <add key="ServiceBrokerSfService" value="SfMessageSenderService" />
    <add key="ServiceBrokerService" value="PurchaseOrderService" />
    <add key="ServiceBrokerQueue" value="PurchaseOrderQueue"/>
    <add key="IsTestMode" value="true"/>
    <add key="ServiceName" value="PurchaseOrderService"/>

    <add key="TimeInterval" value="1" /> <!-- one minute-->
    
  </appSettings>
</configuration>